doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/gridism.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div.wrap(ng-app="superCrawler", ng-controller="superCrawlerCtrl")
			block content